body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 100vh;
    margin: 0px;
}

header {
    background: palegoldenrod;
}

.intro {
    text-align: center;
    font-size: 22px;
    width: 80%;
    margin: 30% auto 0px auto;
}

.calculator {
    background: skyblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;
    width: 50%;
    margin: auto;
    grid-gap: 2px;
}

#display {
    grid-column: 1/5;
    width: 100%;
    height: 40%;
    font-size: 40px;
    font-family:'sans-serif';
    align-self: end;
    text-align: right;
    background: whitesmoke;
}

button {
    font-weight: bold;
    border: none;
    background: wheat;
    font-size: 24px;
}

.operator {
    background: lightsalmon;
}

.special {
    background: lightcoral
}